*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:none;
    text-decoration:none;
    border:none;
}
html{
    background-color:var(--bg);
    color:#fff;
    font-family:'Poppins', sans-serif;
    min-height:1000px;
}
:root{
    --primary:#b6895b;
    --bg:#010101;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 7%;
    border-bottom:1px solid #694e34;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:99;
}

.judul{
    color:#fff;
    font-size:25px;
    font-weight:800;
}

.judul span{
    color:var(--primary);
}

.navbar-nav a{
    color:#fff;
    font-size:15px;
    margin:0px 15px;
    padding:0px 5px;
}

.navbar-extra a{
    color:#fff;
    font-size:15px;
    margin:0px 5px;
}